.main-about-me {
  background-color: #2C3333;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 1px;
  border: 1px solid black;
}



.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}



.body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}


.section1 h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: calc(15px + 1vw);
  font-weight: 400;
  opacity: 0;
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: hsl(0 0 0 / 0.7);

  &:hover,
  &:focus {
    color: teal;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

@media(max-width:600px) {
  .section1 h1 {
    margin: 0px 10px 0px 10px;
    font-size: calc(10px + 3.2vw);
  }


}