<div class="main-about-me">
  

  <section class="section1">
    <h1>Hello, my name is Agnibha.</h1>
    <p class="subtitle prevent-select">Welcome to my <u><a routerLink="" routerLinkActive="active" style="text-decoration:none; color: hsla(0, 0%, 100%, 0.7);">website!</a></u></p>
  </section>


  <section class="hidden">
    <h2>Secton2</h2>
    <p>Waifu Himeno</p>
  </section>


  <section class="hidden">
    <h2>Secton3</h2>
    <p>Waifu Mikasa</p>
  </section>


  <section class="hidden">
    <h2>Secton4</h2>
    <p>Waifu Himeno</p>
  </section>
</div>