<div class="main">
  <div class="reset-pass-main-div">
    <h1>Reset Password</h1>

    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassworUser()">

      <div class="password">
        <input class="form-field" type="password" placeholder="Password" id="mainPasswordID"
        formControlName="password" (keyup)="checkPassword(confirmPasswordID.value)">
        <span *ngIf="mainPasswordValidator && mainPasswordValidator.invalid && mainPasswordValidator.touched">{{toolTip}}</span>
      </div>  


      <div class="confirm-password">
        <input class="form-field" type="password" placeholder="Confirm Password" id="confirmPasswordID" #confirmPasswordID
        formControlName="confirmPassword" (keyup)="checkPassword(confirmPasswordID.value)">
        <span *ngIf="PasswordFieldValidator && PasswordFieldValidator.invalid && PasswordFieldValidator.touched">Enter a valid password</span>
        <span id="confirmPasswordTextID" class="confirmPasswordTextDisplayCSS">Password and confirm password not matching</span>
      </div>  


      <!-- Show Password -->
      <div class="showpassword div-form">
      <label class="label-field" for="show-pass" (click)="passwordfield()">Show Password</label>
      <input type="checkbox" class="show-pass-checkbox" id="show-pass"  value="show-password" 
          formControlName="showPassword" (click)="passwordfield()">
      </div>


      <div class="Register">
        <div class="buttons">
          <button type="submit">Yes</button>
          <button onclick="event.preventDefault();" (click)="noButton()">No</button>
        </div>
      </div>


    </form>    

  </div>
</div>

