.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-pass-main-div {
  width: 70%;
  display: flex;
  height: 0 auto;
  padding: 20px 0px 20px 0px;
  flex-direction: column;
  background-color: #f0e2ff;
  border: 1px solid black;
  border-radius: 5px;
}


h1 {
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
}


form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
}

.password {
  display: flex;
  flex-direction: column;
}

.confirm-password {
  display: flex;
  flex-direction: column;
}

.Register {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.confirmPasswordTextDisplayCSS {
  display: none;
}

input {
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 10px;
}

span {
  padding-bottom: 5px;
  color: var(--form-invalid-text-msg);
  font-size: calc(12px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.resetPassword-btn {
  padding: 10px;
}




.buttons {
  display: flex;
  width: 180px;
  gap: 10px;
  --b: 5px;   /* the border thickness */
  --h: 1.8em; /* the height */
}



.buttons button {
  --_c: #88C100;
  flex: calc(1.25 + var(--_s,0));
  min-width: 0;
  font-size: 20px;
  font-weight: bold;
  height: var(--h);
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: var(--b) solid var(--_c);
  background: 
    conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
    border-box;
  clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
  padding: 0 calc(0.288*var(--h)) 0 0;
  margin: 0 calc(-0.288*var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex .4s;
}
.buttons button + button {
  --_c: #FF003C;
  flex: calc(.75 + var(--_s,0));
  background: 
    conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
    border-box;
  clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
  margin: 0 0 0 calc(-0.288*var(--h));
  padding: 0 0 0 calc(0.288*var(--h));
}
.buttons button:focus-visible {
  outline-offset: calc(-2*var(--b));
  outline: calc(var(--b)/2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
button:hover,
button:active:not(:focus-visible) {
  --_s: .75;
}
button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}


.show-pass-checkbox {
  margin-left: 10px;
}



@media(max-width:1318px) {
  form {
    padding: 20px 5px 20px 5px;
  }
  .reset-pass-main-div {
    width: calc(85% - 20px);
    padding: 20px 0px 20px 0px;
  }


}


@media(max-width:600px) {


  .reset-pass-main-div {
    width: 100%;
    padding: 20px 0px 20px 0px;
    border: none;
    height: 100vh;
  }


}