.header {
  background-color: var(--bkg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: default;
  margin: auto;
  padding: 0;
}

.site-title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.header h1 {
  color: var(--text-color);
  padding: 2rem;
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
  cursor: pointer;
  transition: 0.5s ease-out;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Permanent Marker', cursive;
}

h1 span {
  transition: 0.5s ease-out;
}

h1:hover span:nth-child(1) {
  margin-right: 5px;
}

h1:hover span:nth-child(2) {
  margin-left: 30px;
}

h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.header p {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Zeyada', cursive;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-list-item {
  padding: 1rem;
  color: black;
}

@media(max-width:600px) {
  .header h1 {
    color: var(--text-color);
    padding: 2rem;
    font-weight: 400;
    font-size: 3em;
    margin: 0;
  }

  .navbar-list {
    flex-direction: column;
  }
}

.navbar-list-btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--btn-bg-color);
  text-decoration: none;
  font-weight: 590;
  padding: .50em;
  border: none;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  min-width: 105px;
}

.navbar-list-btn:hover {
  background-color: var(--btn-bg-color-hover);
  color: var(--text-color);
}

.current-page {
  background-color: var(--btn-bg-color-hover);
  color: var(--text-color);
}

.current-page:hover {
  background-color: var(--btn-bg-color-hover);
  color: var(--text-color);
}




.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}