<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<div id="blur">
  <appheader></appheader>
  <app-dashboard></app-dashboard>
  <div class="main-container">
    <div class="container">
      <h1>Login Form</h1>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

        <!-- username field-->
        <div class="input-div prevent-select input-div-flex">
          <input type="text" class="input-field" placeholder="Enter your email or password"  
          formControlName="username"
          >
        </div>

        <!-- username valid text field-->
        <div class="input-invalid-text" >
          <span *ngIf="usernameValidator && usernameValidator.invalid && usernameValidator.touched">Your username or Email is not valid</span>
        </div>

        <!-- password field-->
        <div class="input-div prevent-select fixToolTipCSS">
          <input type="password" class="input-field" id="password-field-id" placeholder="Enter your password"  
          formControlName="password"
          (cut)="DisableCut($event)" (copy)="DisableCopy($event)" (paste)="DisablePaste($event)"
          >

          <!-- password eye-->  
          <i class="bi bi-eye-slash" id="togglePassword" (click)="passwordfield()"></i>
          <span class="passwordTooltip" matTooltip="Password must be between 8 to 16 characters, must have at least one lowercase character, one uppercase character, one number and one special character"
          matTooltipPosition=after matTooltipShowDelay=200>!</span>
        </div>
        <!-- password valid text field-->
        <div class="input-invalid-text" >
          <span *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched">Your password is not valid</span>
        </div>


        <!-- remember me -->
        <div class="input-div prevent-select remember-me">
          <input type="checkbox" class="remember-me-input" name="remember-me-input" id="remember-me-label">
           <label class = "remember-me-label" for="remember-me-label">Remember Me</label>
        </div>

        <!-- login button -->
        <div class="input-div prevent-select">
          <!-- <a  class="form-btn-login" (click)="login()" id="login-id" >Sign in</a> -->
          <button type="submit" class="form-btn-login" [disabled]="loginForm.invalid">Login</button>
        </div>
        <!-- [disabled]="loginForm.invalid" -->

      </form>
        <!-- forgot passowrd and signup button -->
        <div class="input-div flex">
          <button class="form-btn">Forgot Password</button>
          <button class="form-btn">Sign Up</button>
        </div>

      
    </div>
  </div>
  <app-footer></app-footer>
</div>