<appheader></appheader>
<app-dashboard></app-dashboard>
<div class= "main-container">
  <button (click)="moja()">fgdhfdghfdghg</button>
  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsadfsdfdorks!</p>
  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsadfsdfdorks!</p>

  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsadfsdfdorks!</p>
  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsadfsdfdorks!</p>

  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsadfsdfdorks!</p>
  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsadfsdfdorks!</p>

  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsadfsdfdorks!</p>

  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>ronyronyronyks!</p>
  <p>home works!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdorks!</p>
  <p>login wdfdfghdfgghdfhgfdorks!</p>
  <p>login wdfsdfsronysdfdorks!</p>

</div>
<app-footer></app-footer>
