<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer prevent-select">
    <div class="footer-content">
        <h3>夏</h3>
        <p><u> Date:</u> {{date | date: 'MMMM d, y'}}</p>
        <ul class="socials">
            <li>
                <a href="https://www.facebook.com/agnibha.chowdhury.56/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://steamcommunity.com/id/rony9707/" target="_blank">
                    <i class="fa fa-steam"></i>
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/user/natsu_rony" target="_blank">
                    <i class="fa fa-reddit"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCEqOhC1R_Ba68tvQrNJba2A" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ronynatsu/" target="_blank">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Designed by 
          <span id="L" class="name-footer" routerLink="/underConstruction">R</span>
          <span id="I" class="name-footer"routerLink="/underConstruction">O</span>
          <span id="G" class="name-footer"routerLink="/underConstruction">N</span>
          <span id="H" class="name-footer" routerLink="/underConstruction">Y</span>
        </p>
    </div>
</footer>